<?xml version="1.0"?>
<config>
    <modules>
        <Psl_Import>
            <version>0.1.0</version>
        </Psl_Import>
    </modules>
    <global>
        <models>
            <psl_import>
                <class>Psl_Import_Model</class>
                <resourceModel>psl_import_resource</resourceModel>
            </psl_import>
            <psl_import_resource>
                <class>Psl_Import_Model_Resource</class>
            </psl_import_resource>
        </models>
        <blocks>
            <psl_import>
                <class>Psl_Import_Block</class>
            </psl_import>
        </blocks>
        <helpers>
            <psl_import>
                <class>Psl_Import_Helper</class>
            </psl_import>
        </helpers>
    </global>
    <admin>
        <routers>
            <psl_import>
                <use>admin</use>
                <args>
                    <module>Psl_Import</module>
                    <frontName>adminpslimport</frontName>
                </args>
            </psl_import>
        </routers>
    </admin>
</config>