@font-face {
  font-family: 'argento';
  src: url('../font/argento.eot?65253611');
  src: url('../font/argento.eot?65253611#iefix') format('embedded-opentype'),
       url('../font/argento.woff?65253611') format('woff'),
       url('../font/argento.ttf?65253611') format('truetype'),
       url('../font/argento.svg?65253611#argento') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'argento';
    src: url('../font/argento.svg?65253611#argento') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "argento";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-heart:before { content: '\e805'; } /* '' */
.icon-right-open-large:before { content: '\e80d'; } /* '' */
.icon-plus-large:before { content: '\e814'; } /* '' */
.icon-plus-squared-alt:before { content: '\e839'; } /* '' */
.icon-minus-large:before { content: '\e815'; } /* '' */
.icon-minus-squared-alt:before { content: '\e83a'; } /* '' */
.icon-thumbs-up:before { content: '\e834'; } /* '' */
.icon-thumbs-down:before { content: '\e835'; } /* '' */
.icon-location:before { content: '\e846'; } /* '' */
.icon-trash:before { content: '\e82a'; } /* '' */
.icon-menu:before { content: '\e836'; } /* '' */
.icon-cog:before { content: '\e837'; } /* '' */
.icon-cog-alt:before { content: '\e838'; } /* '' */
.icon-basket:before { content: '\e831'; } /* '' */
.icon-calendar:before { content: '\e844'; } /* '' */
.icon-calendar-empty:before { content: '\e845'; } /* '' */
.icon-down-dir:before { content: '\e809'; } /* '' */
.icon-up-dir:before { content: '\e80a'; } /* '' */
.icon-left-dir:before { content: '\e80b'; } /* '' */
.icon-right-dir:before { content: '\e80c'; } /* '' */
.icon-angle-double-left:before { content: '\e81f'; } /* '' */
.icon-angle-double-right:before { content: '\e820'; } /* '' */
.icon-down:before { content: '\e80f'; } /* '' */
.icon-left:before { content: '\e842'; } /* '' */
.icon-right:before { content: '\e843'; } /* '' */
.icon-up:before { content: '\e810'; } /* '' */
.icon-sort-alt-up:before { content: '\e83b'; } /* '' */
.icon-sort-alt-down:before { content: '\e83c'; } /* '' */
.icon-sort-name-up:before { content: '\e83d'; } /* '' */
.icon-sort-name-down:before { content: '\e83e'; } /* '' */
.icon-sort-number-up:before { content: '\e83f'; } /* '' */
.icon-sort-number-down:before { content: '\e840'; } /* '' */
.icon-cancel-squared:before { content: '\e841'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-minus:before { content: '\e806'; } /* '' */
.icon-quote:before { content: '\e81a'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e81b'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-up-open:before { content: '\e81c'; } /* '' */
.icon-down-open-big:before { content: '\e821'; } /* '' */
.icon-left-open-big:before { content: '\e824'; } /* '' */
.icon-right-open-big:before { content: '\e82f'; } /* '' */
.icon-up-open-big:before { content: '\e830'; } /* '' */
.icon-down-dir-1:before { content: '\e81d'; } /* '' */
.icon-left-dir-1:before { content: '\e822'; } /* '' */
.icon-right-dir-1:before { content: '\e823'; } /* '' */
.icon-up-dir-1:before { content: '\e81e'; } /* '' */
.icon-play:before { content: '\e826'; } /* '' */
.icon-stop:before { content: '\e827'; } /* '' */
.icon-pause:before { content: '\e828'; } /* '' */
.icon-record:before { content: '\e825'; } /* '' */
.icon-erase:before { content: '\e832'; } /* '' */
.icon-quote-left:before { content: '\e816'; } /* '' */
.icon-quote-right:before { content: '\e817'; } /* '' */
.icon-quote-left-alt:before { content: '\e818'; } /* '' */
.icon-quote-right-alt:before { content: '\e819'; } /* '' */
.icon-pencil-alt:before { content: '\e812'; } /* '' */
.icon-ok-1:before { content: '\e833'; } /* '' */
.icon-cancel:before { content: '\e829'; } /* '' */
.icon-pencil:before { content: '\e811'; } /* '' */
.icon-basket-1:before { content: '\e848'; } /* '' */
.icon-email:before { content: '\e813'; } /* '' */
.icon-cart:before { content: '\e847'; } /* '' */
.icon-align-justify:before { content: '\e82e'; } /* '' */
.icon-list:before { content: '\e82d'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */
.icon-th-large:before { content: '\e807'; } /* '' */
.icon-th:before { content: '\e808'; } /* '' */
.icon-rss-alt:before { content: '\e82c'; } /* '' */
.icon-left-open-large:before { content: '\e80e'; } /* '' */
.icon-rss:before { content: '\e82b'; } /* '' */