<?xml version="1.0"?>
<config>
    <modules>
        <TM_RichSnippets>
            <version>1.3.0</version>
        </TM_RichSnippets>
    </modules>

    <global>
        <helpers>
            <richsnippets>
                <class>TM_RichSnippets_Helper</class>
            </richsnippets>
        </helpers>
        <blocks>
            <richsnippets>
                <class>TM_RichSnippets_Block</class>
            </richsnippets>
        </blocks>
        <models>
            <richsnippets>
                <class>TM_RichSnippets_Model</class>
            </richsnippets>
        </models>
    </global>

    <frontend>
        <layout>
            <updates>
                <richsnippets>
                    <file>tm/richsnippets.xml</file>
                </richsnippets>
            </updates>
        </layout>
        <translate>
            <modules>
                <TM_RichSnippets>
                    <files>
                        <default>TM_RichSnippets.csv</default>
                    </files>
                </TM_RichSnippets>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <TM_RichSnippets>
                    <files>
                        <default>TM_RichSnippets.csv</default>
                    </files>
                </TM_RichSnippets>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <richsnippets>
            <general>
                <enabled>0</enabled>
                <seller></seller>
                <manufacturer>0</manufacturer>
            </general>
            <display>
                <image>1</image>
                <description>1</description>
                <seller>1</seller>
                <manufacturer>1</manufacturer>
                <review_rating>1</review_rating>
                <stock_status>1</stock_status>
            </display>
            <organization>
                <name></name>
                <street></street>
                <locality></locality>
                <postal-code></postal-code>
                <country-name></country-name>
                <phone></phone>
                <url></url>
            </organization>
        </richsnippets>
    </default>
</config>