body { background: #fff; padding: 20px 0 0; font: 12px/1.55em arial,helvetica,sans-serif; }
input, select, textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.form-list input.input-text:focus,
.form-list select:focus, .form-list textarea:focus { background-color: #F8FAFC; }

button.button { padding: 0 2px 2px 0; }
button.button span {
    border-radius: 6px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.3);
    background: #f3920b;
    background: -moz-linear-gradient(top, #FFAF12 0%, #ED8108 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFAF12), color-stop(100%,#ED8108));
    background: -webkit-linear-gradient(top, #FFAF12 0%,#ED8108 100%);
    background: -o-linear-gradient(top, #FFAF12 0%,#ED8108 100%);
    background: -ms-linear-gradient(top, #FFAF12 0%,#ED8108 100%);
    background: linear-gradient(to bottom, #FFAF12 0%,#ED8108 100%);
}
button.button span span { padding: 0 10px; background: none; box-shadow: none; }
button.button:active span { box-shadow: inset 0 3px 2px -2px rgba(0, 0, 0, 0.3); }
button.btn-alt span {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    background: #a2a2a2;
    background: -moz-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a2a2a2), color-stop(1, #979797));
    background: -webkit-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: -o-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: -ms-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: linear-gradient(top, #a2a2a2 0%, #979797 100%);
}
button.btn-checkout span { border-radius: 0 !important; box-shadow: none !important; color: #fff !important; }

.box .head { margin-bottom: 0.2em; }
.box .head span {
    color: #333333;
    font: bold 1.1em Verdana,Geneva,Arial,Helvetica,sans-serif;
    padding: 0;
    margin: 0;
}
.block-alt .block-title { border: none; text-transform: uppercase; }
.block-alt .block-content { border: 1px solid #ddd; border-radius: 8px; }

.top-toolbar,
.header,
.top-container,
.main,
.footer,
.footer-toolbar,
.footer-cms {
    width: 935px;
}

.top-toolbar-container,
.header-container,
.main-container { background: transparent; }
.header,
.top-toolbar:before { background: #00355f; }
.top-toolbar {
    padding-top: 0;
    padding-bottom: 0;
    width: 925px;
    height: 25px;
    font-family: arial,helvetica,sans-serif;
    position: relative;
    z-index: 1
}
.top-toolbar .header-links,
.top-toolbar .quick-links { position: absolute; bottom: 0; }
.top-toolbar .header-links { left: 27%; margin: 0 0 0 -5px; }
.top-toolbar .quick-links { right: 0; bottom: 2px; }
.top-toolbar .top-link-cart { display: none; }
.top-toolbar:before {
    content: ' ';
    width: 27%;
    height: 25px;
    float: left;
    border-radius: 6px 6px 0 0;
    box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.4);
    z-index: 2;
    position: relative;
    margin-left: -5px;
}

.top-toolbar .header-links li { margin-right: 3px; float: left; }
.top-toolbar .header-links a {
    background: #ffc156;
    background: -moz-linear-gradient(top, #ffd796 0%, #ffd796 7%, #ffc156 25%, #ff9c00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd796), color-stop(7%,#ffd796), color-stop(25%,#ffc156), color-stop(100%,#ff9c00));
    background: -webkit-linear-gradient(top, #ffd796 0%,#ffd796 7%,#ffc156 25%,#ff9c00 100%);
    background: -o-linear-gradient(top, #ffd796 0%,#ffd796 7%,#ffc156 25%,#ff9c00 100%);
    background: -ms-linear-gradient(top, #ffd796 0%,#ffd796 7%,#ffc156 25%,#ff9c00 100%);
    background: linear-gradient(to bottom, #ffd796 0%,#ffd796 7%,#ffc156 25%,#ff9c00 100%);

    display: block;
    padding: 3px 10px;
    border-radius: 4px 4px 0 0;
    color: #00355F;
    box-shadow: 2px 1px 0px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none;
}
.top-toolbar .header-links li.first a {
    border-radius: 0 4px 0 0;
}
.top-toolbar .header-links a:hover {
    text-decoration: none;
    padding-bottom: 4px;
    margin-top: -1px;
}

.header-container { padding: 0 5px; }
.header {
    border-radius: 0 6px 6px 6px;
    padding-top: 10px;
    padding-bottom: 0;
    width: 925px;
    min-height: 58px;
    position: relative;
    z-index: 100;
    box-shadow: 2px 3px 2px -1px rgba(0, 0, 0, 0.3);
}
.header .logo { margin-top: -23px; margin-left: 5px; }
.header .form-language { clear: none; margin: 3px 12px 0 0; }
.header .form-language label { display: none; }
.header .form-language select { margin: 0; }
.header-content { float: right; margin-bottom: 10px; }

.header-container .header-cart {
    padding: 6px 6px;
    margin: 0 12px 0 0;
    float: left;
    border-radius: 5px;
    border: none;

    background: transparent;
    background: rgba(255,255,255,0.1);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.14) 50%, rgba(255,255,255,0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(50%,rgba(255,255,255,0.14)), color-stop(100%,rgba(255,255,255,0.1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.14) 50%,rgba(255,255,255,0.1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.14) 50%,rgba(255,255,255,0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.14) 50%,rgba(255,255,255,0.1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.14) 50%,rgba(255,255,255,0.1) 100%);
}
.header-cart .block-title a { color: #fff; }
.header-cart .summary {
    width: auto;
    float: none;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    color: #fff;
}
.header-cart .summary .icon-basket { font-size: 15px; }
.header-cart .summary p { margin: 0; display: inline-block; }

.header-container .form-search { margin: 2px 0 0; }
.header-container .form-search input { height: auto; }
.header-container .form-search input.input-text {
    text-indent: 0;
    padding: 5px;
    height: 25px;
    border: none;
    background: #fff;
}
.header-container .form-search button {
    padding: 0 7px;
    margin: 0 0 0 2px;
    height: auto;
    width: auto;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.4);
    border-radius: 6px;

    background: #F9A200;
    background: -moz-linear-gradient(top, #ffce76 0%, #F9A200 10%, #F9A200 91%, #b26c00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffce76), color-stop(10%,#F9A200), color-stop(91%,#F9A200), color-stop(100%,#b26c00));
    background: -webkit-linear-gradient(top, #ffce76 0%,#F9A200 10%,#F9A200 91%,#b26c00 100%);
    background: -o-linear-gradient(top, #ffce76 0%,#F9A200 10%,#F9A200 91%,#b26c00 100%);
    background: -ms-linear-gradient(top, #ffce76 0%,#F9A200 10%,#F9A200 91%,#b26c00 100%);
    background: linear-gradient(to bottom, #ffce76 0%,#F9A200 10%,#F9A200 91%,#b26c00 100%);
}
.header-container .form-search button span {
    background: transparent;
    text-shadow: none;
    box-shadow: none;
    display: block;
    color: #003361;
    line-height: 24px;
    height: 24px;
}
.header-container .form-search button:active { top: 1px; box-shadow: 1px 0px 1px 0 rgba(0,0,0,0.4); }
.header-container .form-search .search-autocomplete ul { background-color: #F8F8F8; }
.header-container .form-search .search-autocomplete li.odd { background: #fff; }
.header-container .form-search .search-autocomplete li.selected { background-color: #f4f4f4; }

.autocomplete {
    border-radius: 0 0 6px 6px;
    margin: -7px 6px 6px -4px;
}
.header-container .form-search select.ajaxsearch-category-select { width: 70px; }
.header-container .form-search .chzn-container-single .chzn-single {
    padding-bottom: 0;
    padding-top: 0;
    border: none;
    background-color: #fff;
    height: 25px;
}
.header-container .form-search .chzn-container-single .chzn-single div { top: 1px; }
.header-container .form-search .chzn-container-single .chzn-single abbr { top: 7px; right: 15px; }
.header-container .form-search .chzn-container-single .chzn-search input { min-width: 171px; }

.nav-container { background: none; clear: both; margin: 0 -5px; }
#nav,
.nav-container .navpro {
    padding: 0;
    width: auto;
    border-top: 1px solid rgba(255,255,255,0.2);

    background: -moz-linear-gradient(top, rgba(255,255,255,0.13) 0%, rgba(255,255,255,0) 65%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.13)), color-stop(65%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.13) 0%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.13) 0%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.13) 0%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.13) 0%,rgba(255,255,255,0) 65%,rgba(255,255,255,0) 100%);
}
#nav ul, #nav div { top: 100%; }
#nav ul.level0, #nav div.level0 { border-top: none; margin-left: -1px; }
#nav li.level-top,
.nav-container .navpro li.level-top { border-right: 1px solid rgba(255,255,255,0.17); }
#nav li.level-top.last,
.nav-container .navpro li.level-top.last { border-right: none; }
#nav li a { color: #fff; }
#nav li.parent a.level-top { padding-right: 13px; background: none; }
#nav li.over a,
#nav li.active a { color: #ffac1f; }
.nav-container .navpro .active > a.level-top,
.nav-container .navpro .active > div.level-top a { color: #ffac1f; }
.nav-container .navpro a.level-top.over,
.nav-container .navpro div.level-top a.over { color: #ffac1f; }
#nav ul li.active > a,
#nav ul li.over > a { background-color: #fafafa; }
#nav ul li a { color: #000 !important; }

.nav-container .navpro li a.level-top,
.nav-container .navpro div.level-top a {
    font-size: 13px;
    color: #fff;
    font-weight: bold;
}
.nav-container .navpro li a.nav-a,
.nav-container .navpro li .nav-sibling-title a { padding: 11px 13px 11px; }
.nav-container .navpro-inline .nav-toggler-level0 {
    top: 50%;
    height: 20px;
    margin-top: -10px;
    background-position: -21px 0;
}
.nav-container .navpro li.level-top.nav-li.first {
    border-radius: 0 0 0 5px;
}

.navpro-mobile .nav-accordion-toggler { background-position: -66px 5px; }
.navpro-mobile .nav-accordion-toggler-active { background-position: -15px 7px; }
.navpro-mobile .easycatalogimg .list-subcategories li,
.navpro-mobile .easycatalogimg .list-subcategories li:first-child {
    background: none;
}

.sidebar .block-title {
    border: 1px solid #073C66;
    border-bottom: none;
    background: #00355f;
    padding: 0;
}
.sidebar .block-title span {
    color: #fff;
    display: block;
    padding: 8px 11px;

    background: -moz-linear-gradient(top, rgba(255,255,255,0.17) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.17)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.17) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.17) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.17) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.17) 0%,rgba(255,255,255,0) 100%);
}
.sidebar .block-title span span { padding: 0; display: inline; background: none; }
.sidebar .block-content { border: 1px solid #ddd; border-top: none; background: #fff; }

.sidebar .block-navpro .block-content { padding: 0; }
.sidebar .navpro a,
.sidebar .navpro a.over { color: #666; }
.sidebar .navpro a:hover { color: #000; text-decoration: underline; }
.sidebar .navpro a.level-top,
.sidebar .navpro div.level-top a { background-color: #f6f6f6; padding: 5px 10px 6px; }
.sidebar .navpro .nav-ul li.over > a,
.sidebar .navpro .nav-ul li.over > .nav-sibling-title { background-color: transparent; }
.sidebar .navpro .nav-ul .nav-span,
.sidebar .navpro .nav-ul .nav-sibling-title { padding: 3px 10px 4px; }
.sidebar .navpro .relative-level2 { text-indent: 7px; }

.navpro-mobile-toggle,
.navpro-mobile-toggle:hover { margin: 0 5px 5px; background-color: rgba(255,255,255,0.1); }
.navpro-mobile-toggle-icon .icon-bar { background: #fff; }
.navpro-mobile-toggle-label { color: #fff; text-shadow: 0 1px #000000; }
.navpro-mobile { margin: 0 5px 5px; border-radius: 6px; background-color: rgba(255, 255, 255, 0.1); color: #fff; }
.navpro-mobile a,
.navpro-mobile .block-title,
.navpro-mobile .old-price { color: #fff !important; }
.navpro-mobile .nav-a:hover,
.navpro-mobile .nav-sibling-title:hover { background-color: transparent; }
.navpro-mobile .nav-a,
.navpro-mobile .nav-ul .nav-sibling-title a,
.navpro-mobile div.level-top a { border-color: rgba(255, 255, 255, 0.1); color: #fff; }
.navpro-mobile .active > a.level-top,
.navpro-mobile .active > div.level-top a,
.navpro-mobile .nav-ul .active > .nav-a,
.navpro-mobile .nav-ul .active > .nav-sibling-title a { color: #fff; }

.products-grid li.item { text-align: center; }
.products-grid .product-name { min-height: 0; font-weight: bold; }
.products-grid .product-name a { text-decoration: underline; }
.products-grid .product-name a:hover { text-decoration: none; }
.products-grid .price-box,
.products-grid .actions,
.products-grid .add-to-links,
.products-grid .add-to-links li { float: none; }
.products-grid .add-to-links li { margin-right: 0; }

.products-list .product-name a,
.products-grid .product-name a {
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}

/* product view */
.product-view .product-shop .add-to-cart button.button span,
.product-view .product-options-bottom .add-to-cart button.button span {
    line-height: 30px;
    height: 30px;
    font-size: 12px;
}
.product-view .product-shop .add-to-cart button.button span span,
.product-view .product-options-bottom .add-to-cart button.button span span {
    padding: 0 20px;
}

.easytabs li {
    background: #00355F;
    border-radius: 5px 5px 0 0;
    border: none;
    box-shadow: 0 6px 12px -5px rgba(255, 255, 255, 0.3) inset;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}
.easytabs li:hover {
    background: #034173;
    box-shadow: 0 6px 12px -5px rgba(255, 255, 255, 0.3) inset;
}
.easytabs li.active {
    background: #F5970C;
    box-shadow: 0 6px 12px -5px rgba(255, 255, 255, 0.3) inset;
    border: none;
    text-shadow: none;
}
.easytabs-a {
    color: #fff;
    text-shadow: none;
    padding: 9px 12px 7px;
}
.easytabs-a.active {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.easytabs-a-accordion {
    background: #00355F;
    border: 1px solid rgba(255,255,255,0.1);
    border-width: 0 0 1px;
    margin: 0;
    box-shadow: none;
    position: relative;
    z-index: 6;
}
.easytabs-a-accordion.active {
    color: #fff;
    background: #F5970C;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.easytabs-content {
    background: transparent;
    border: 3px solid #f5980e;
    border-width: 3px 0 0px;
    border-color: #f5980e #eee #eee;
    margin: 0;
}

.block-progress .block-title { margin: 0; }

.footer-cms,
.footer {
    padding-top: 12px;
    border-top: 1px solid #eee;
    margin-bottom: 12px;
}
.footer { text-align: center; }
.footer, .footer a { color: #888; }
.footer-cms a { text-decoration: none; }
.footer-cms a:hover { text-decoration: underline; }
.footer address { float: none; text-align: center; }
.footer .links,
.footer .links li { float: none; }

.footer-cms .mini-product-viewed li { clear: both; }
.footer-cms .mini-product-viewed img { float: left; margin-right: 5px; }

.footer-cms .mini-product-search li.item { float: left; width: 48%; margin-right: 2%; }

.argento-slider .trigger { color: #00355f; }
.argento-slider .trigger-left { border-radius: 0 6px 6px 0; }
.argento-slider .trigger-right { border-radius: 6px 0 0 6px; }

.col-home-set .col-side { float: left; width: 20%; }
.col-home-set .col-main { float: right; width: 79%; }
.col-home-set .col3-set .products-grid li.item { text-align: left; }
.col-home-set .col3-set .products-grid li.item .actions { text-align: left; }
.col-home-set .col3-set .products-grid .add-to-links { display: none; }

.callout-home-top .col-1 { width: 77.5%; }
.callout-home-top .col-2 { width: 21.8%; }
.callout-home-top .easyslideslider-id {
    padding-left: 25px;
}
.callout-home-top .easyslide-controls-wrapper {
    width: 25px;
    height: 100%;
    right: auto;
    left: 0px;
    top: 0;
    bottom: auto;
    background-color: #00355f;
    border-radius: 6px 0 0 6px;
}
.callout-home-top .easyslide-controls {
    position: absolute;
    bottom: 5px;
    width: 25px;
}
.callout-home-top .easyslide-controls .easyslide-num {
    background: #fff;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 0;
    margin: 4px auto;
    display: block;
    float: none;
}

.callout-home-top .block-subscribe { background: #ffab00; border-radius: 6px; margin-bottom: 8px; }
.callout-home-top .block-subscribe .block-title { border: none; font-size: .8em; }
.callout-home-top .block-subscribe .block-title span { font-weight: bold; color: #00355f; }
.callout-home-top .block-subscribe .block-content { padding-top: 0; }
.callout-home-top .block-subscribe .validation-advice { font-weight: bold; }
.callout-home-top .block-subscribe .actions { text-align: center; text-align: center; }
.callout-home-top .block-subscribe .form-subscribe-header { display: none; }
.callout-home-top .block-subscribe .icon-email { font-size: 17px; color: #fff; padding: 2px 0; display: inline-block; margin-left: -3px; }
.callout-home-top .block-subscribe .input-box {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    margin-left: -27px;
    padding-left: 27px;
    width: 100%;
    display: inline-block;
}
.callout-home-top .block-subscribe .input-text { width: 100%; border: none; padding: 4px; }
.callout-home-top .block-subscribe button.button span {
    color: #fff;
    background: #00355f;
    background: -moz-linear-gradient(top, #667E92 0%, #00355f 10%, #00355f 91%, #002340 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#667E92), color-stop(10%,#00355f), color-stop(91%,#00355f), color-stop(100%,#002340));
    background: -webkit-linear-gradient(top, #667E92 0%,#00355f 10%,#00355f 91%,#002340 100%);
    background: -o-linear-gradient(top, #667E92 0%,#00355f 10%,#00355f 91%,#002340 100%);
    background: -ms-linear-gradient(top, #667E92 0%,#00355f 10%,#00355f 91%,#002340 100%);
    background: linear-gradient(to bottom, #667E92 0%,#00355f 10%,#00355f 91%,#002340 100%);
}
.callout-home-top .block-subscribe .newsletter-info { font-size: 0.9em; color: #00355f; margin-bottom: 0; text-align: center; }

.block-featured-homepage .block-title { border: none; text-transform: uppercase; }

button.ajaxpro-continue-button span,
.ajaxpro-buttons-set .btn-continue span,
#ajaxpro-scrolling-button span {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    background: #a2a2a2;
    background: -moz-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a2a2a2), color-stop(1, #979797));
    background: -webkit-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: -o-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: -ms-linear-gradient(top, #a2a2a2 0%, #979797 100%);
    background: linear-gradient(top, #a2a2a2 0%, #979797 100%);
}
#ajaxpro-scrolling-button span {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
}
#ajaxpro-scrolling-button:hover span { background: #9c9c9c; }

.askit-accordion-content { background: none; }

.block-highlight .grid-wide li.item { background: transparent; border: none; }
.block-highlight .grid-wide .product-name a { text-decoration: none; }
.block-highlight .grid-wide .product-name a:hover { text-decoration: underline; }
.block-highlight .grid-wide .add-to-links { display: none; }

.col-home-set,
.header-content { zoom: 1; }
.col-home-set:after,
.header-content:after { display: block; clear: both; visibility: hidden; content: '.'; height: 0; font-size: 0; }

/* <<< responsive styles */
@media (max-width: 979px) {
    body { padding: 5px 0 0; }

    .notice-cookie .notice-inner,
    .global-site-notice .notice-inner { width: auto; padding-right: 12px; }

    .top-toolbar,
    .header,
    .top-container,
    .main,
    .footer,
    .footer-toolbar,
    .footer-cms,
    #nav { width: auto; }
    .nav-container .navpro { width: auto; }

    .callout-home-top .col-1 { width: 100%; }
    .callout-home-top .col-2 { display: none; }
    .callout-home-top .easyslideslider-id { margin: 0 auto 10px; }

    .top-toolbar:before { height: 0; width: 0; content: ''; }
    .top-toolbar .header-links { left: 10px; margin: 0; }
    .top-toolbar .header-links li.first a { border-radius: 4px 4px 0 0; }
    .header { border-radius: 6px; }
    .header .logo { margin: 0; width: 100%; }
    .logo-wrapper { float: left; width: 29%; }
    .header-content { margin: 0 0 10px; display: inline; width: 70%; }
    .header .form-language { margin: 0 0 8px 0; float: none; }
    .header-container .header-cart { clear: left; float: right; margin: 0 0 5px 10px; }
}
@media (max-width: 767px) {
    .header { padding: 10px 5px 0; }
    .header-container .form-search input { width: 230px; }

    .col-home-set .sidebar { float: none; width: auto; display: none; }
    .col-home-set .col-main { float: none; width: auto; }
}
@media (max-width: 480px) {
    .top-link-wishlist, .top-link-checkout { display: block; }

    .logo-wrapper { float: left; width: auto; width: 50%; }
    .header-content { width: 100%; float: none; display: block; margin: 8px 0 0; }
    .header-container .header-cart { float: right; margin: 7px 0 0 0; }
    .header .form-language { display: block; float: right; width: 46%; }
    .header .form-language select { width: 100%; }

    .header-container .form-search { margin: 5px 0 5px !important }
    .header-container .mobile-togglers { margin: 5px 0 4px; float: left; clear: left; }
    .header-container #mobile-search-toggle {
        background: none;
        color: #fff;
        text-decoration: none;
        line-height: 33px;
        height: 33px;
        font-size: 25px;
        text-indent: 0;
    }
    .navpro-mobile-toggle,
    .navpro-mobile-toggle:hover { margin: 0 5px 0px 0; }

    .products-grid li.item { text-align: left; }
    .products-grid .prolabels-content-wrapper,
    .products-grid .product-name { margin-left: 110px; }
    .block-highlight .grid-wide .product-name a { text-decoration: underline; }
    .block-highlight .grid-wide .product-name a:hover { text-decoration: none; }
    .block-highlight .grid-wide .product-name,
    .block-highlight .grid-wide .ratings,
    .block-highlight .grid-wide .price-box,
    .block-highlight .grid-wide .actions,
    .block-highlight .grid-wide .add-to-links { margin: 0; }
    .block-highlight .products-grid li.item { width: 100% !important; padding-left: 0 !important; padding-right: 0 !important; }

    .easytabs-content { border: none; }

    .footer-cms .mini-product-search li.item { width: auto; float: none; margin-right: 0; }
    .footer-cms { text-align: center; font-size: 1.3em; line-height: 1.4em; }
    .footer-cms .mini-product-viewed img { display: none; }
    .footer-cms .col-1,
    .footer-cms .col-3 { display: none; }

    .easyslide-description { display: none; }

    /* prevent page zoom, when focusing input fields */
    .chzn-container-single .chzn-single span {
        font-size: 16px !important;
    }
}

.dropdown-menu { border-radius: 5px; }
.dropdown-menu li.empty { padding: 8px; }

.expandable-list,
.expandable-list.expanded .current strong {
    border-color: #00355f;
    background: #2a5679;
    background: -moz-linear-gradient(top, #2a5679 0%, #00355f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a5679), color-stop(100%,#00355f));
    background: -webkit-linear-gradient(top, #2a5679 0%,#00355f 100%);
    background: -o-linear-gradient(top, #2a5679 0%,#00355f 100%);
    background: -ms-linear-gradient(top, #2a5679 0%,#00355f 100%);
    background: linear-gradient(to bottom, #2a5679 0%,#00355f 100%);
    filter: none;
}
