<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <TM_EasyBanner>
            <version>1.3.2</version>
        </TM_EasyBanner>
    </modules>
    <global>
        <models>
            <easybanner>
                <class>TM_EasyBanner_Model</class>
                <resourceModel>easybanner_mysql4</resourceModel>
            </easybanner>
            <easybanner_mysql4>
                <class>TM_EasyBanner_Model_Mysql4</class>
                <entities>
                    <banner>
                        <table>easybanner_banner</table>
                    </banner>
                    <banner_placeholder>
                        <table>easybanner_banner_placeholder</table>
                    </banner_placeholder>
                    <banner_statistic>
                        <table>easybanner_banner_statistic</table>
                    </banner_statistic>
                    <banner_store>
                        <table>easybanner_banner_store</table>
                    </banner_store>
                    <layout_link>
                        <table>easybanner_layout_link</table>
                    </layout_link>
                    <layout_update>
                        <table>easybanner_layout_update</table>
                    </layout_update>
                    <placeholder>
                        <table>easybanner_placeholder</table>
                    </placeholder>
                </entities>
            </easybanner_mysql4>
        </models>
        <blocks>
            <easybanner>
                <class>TM_EasyBanner_Block</class>
            </easybanner>
        </blocks>
        <helpers>
            <easybanner>
                <class>TM_EasyBanner_Helper</class>
            </easybanner>
        </helpers>
        <resources>
            <easybanner_setup>
                <setup>
                    <module>TM_EasyBanner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </easybanner_setup>
            <easybanner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </easybanner_write>
            <easybanner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </easybanner_read>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <easybanner>
                        <type>singleton</type>
                        <class>TM_EasyBanner_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </easybanner>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <TM_EasyBanner>
                    <files>
                        <default>TM_EasyBanner.csv</default>
                    </files>
                </TM_EasyBanner>
            </modules>
        </translate>
    </adminhtml>

    <admin>
        <routers>
             <adminhtml>
                 <args>
                     <modules>
                         <easybanner before="Mage_Adminhtml">TM_EasyBanner_Adminhtml</easybanner>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin>

    <frontend>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <easybanner>
                        <type>singleton</type>
                        <class>easybanner/layout</class>
                        <method>fetchDbLayoutUpdates</method>
                    </easybanner>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
        <routers>
            <easybanner>
                <use>standard</use>
                <args>
                    <module>TM_EasyBanner</module>
                    <frontName>easybanner</frontName>
                </args>
            </easybanner>
        </routers>
    </frontend>

    <default>
        <easybanner>
            <general>
                <image_folder>easybanner</image_folder>
                <placeholder>no_image.jpg</placeholder>
                <block_placeholder_prefix>easybanner.placeholder.</block_placeholder_prefix>
            </general>
        </easybanner>
    </default>
</config>