<?xml version="1.0"?>
<config>
    <tabs>
        <templates_master translate="label" module="easybanner">
            <label>Templates-master</label>
            <sort_order>195</sort_order>
        </templates_master>
    </tabs>
    <sections>
        <easybanner translate="label" module="easybanner">
            <label>Easy Banner</label>
            <tab>templates_master</tab>
            <frontend_type>text</frontend_type>
            <sort_order>510</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="easybanner">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <image_folder translate="label comment" module="easybanner">
                            <label>Name of the folder where the banners will be stored</label>
                            <comment>Folder at MAGENTO_ROOT/media/. Default 'easybanner'</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_folder>
                    </fields>
                </general>
            </groups>
        </easybanner>
    </sections>
</config>