<?xml version="1.0"?>
<!--
/**
 * DO NOT REMOVE OR MODIFY THIS NOTICE
 *
 * ProLabel module for Magento - flexible label management
 *
 * @author Templates-Master Team <www.templates-master.com>
 */
-->
<config>
    <tabs>
        <templates_master translate="label" module="prolabels">
            <label>Templates-master</label>
            <sort_order>195</sort_order>
        </templates_master>
    </tabs>
    <sections>
        <prolabels translate="label" module="prolabels">
            <label>ProLabels</label>
            <tab>templates_master</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1610</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="prolabels">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment" module="prolabels">
                            <label>Enabled ProLabels</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <mobile translate="label comment" module="prolabels">
                            <label>Move labels to content wrapper on mobile devices</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mobile>
                    </fields>
                </general>

                <instock translate="label" module="prolabels">
                    <label>Items In Stock Label Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <minitems translate="label comment" module="prolabels">
                            <label>Display if Stock is lower then</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minitems>
                        <out translate="label comment" module="prolabels">
                            <label>Enable Out Of Stock</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </out>
                    </fields>
                </instock>
                <tooltip translate="label" module="prolabels">
                    <label>Tooltip</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <background translate="label comment" module="prolabels">
                            <label>Background Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Example: #000000</comment>
                        </background>
                        <color translate="label comment" module="prolabels">
                            <label>Text Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Example: #FFFFFF</comment>
                        </color>
                    </fields>
                </tooltip>
            </groups>
        </prolabels>
    </sections>
</config>
