<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TM_AjaxSearch>
            <version>1.4.0</version>
        </TM_AjaxSearch>
    </modules>
    <global>
        <blocks>
            <ajaxsearch>
                <class>TM_AjaxSearch_Block</class>
            </ajaxsearch>
        </blocks>
        <helpers>
            <ajaxsearch>
                <class>TM_AjaxSearch_Helper</class>
            </ajaxsearch>
        </helpers>
        <models>
            <ajaxsearch>
                <class>TM_AjaxSearch_Model</class>
                <resourceModel>ajaxsearch_mysql4</resourceModel>
            </ajaxsearch>
            <ajaxsearch_mysql4>
                <class>TM_AjaxSearch_Model_Mysql4</class>
            </ajaxsearch_mysql4>
        </models>
        <resources>
            <ajaxsearch_setup>
                <setup>
                    <module>TM_AjaxSearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxsearch_setup>
            <ajaxsearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxsearch_write>
            <ajaxsearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxsearch_read>
        </resources>
    </global>
    <default>
        <tm_ajaxsearch>
            <general>
                <enabled>0</enabled>
                <enableleft>0</enableleft>
                <enableright>0</enableright>
                <show_category_filter>0</show_category_filter>
                <category_level_count>0</category_level_count>
                <searchfieldtext>Search entire store here...</searchfieldtext>
                <minchars>3</minchars>
                <enableloader>1</enableloader>
                <width>300</width>
                <maxheight>500</maxheight>
                <headertext>See all result on</headertext>
                <footertext>See all result on</footertext>
                <enabledescription>1</enabledescription>
                <descriptionchars>50</descriptionchars>
                <enableimage>1</enableimage>
                <imagewidth>50</imagewidth>
                <imageheight>50</imageheight>
                <productstoshow>10</productstoshow>
                <sortby>name</sortby>
                <sortorder>asc</sortorder>
                <enablecatalog>0</enablecatalog>
                <enablecms>0</enablecms>
                <use_catalogsearch_collection>1</use_catalogsearch_collection>
            </general>
        </tm_ajaxsearch>
    </default>
    <frontend>
        <layout>
            <updates>
                <ajaxsearch>
                    <file>tm/ajaxsearch.xml</file>
                </ajaxsearch>
            </updates>
        </layout>
        <routers>
            <ajaxsearch>
                <use>standard</use>
                <args>
                    <module>TM_AjaxSearch</module>
                    <frontName>ajaxsearch</frontName>
                </args>
            </ajaxsearch>
        </routers>
        <translate>
            <modules>
                <TM_Ajaxsearch>
                    <files>
                        <default>TM_Ajaxsearch.csv</default>
                    </files>
                </TM_Ajaxsearch>
            </modules>
        </translate>
   </frontend>
   <adminhtml>
        <translate>
            <modules>
                <TM_Ajaxsearch>
                    <files>
                        <default>TM_Ajaxsearch.csv</default>
                    </files>
                </TM_Ajaxsearch>
            </modules>
        </translate>
    </adminhtml>
</config>
