<?xml version="1.0"?>
<config>
    <modules>
        <TM_Attributepages>
            <version>1.2.0</version>
        </TM_Attributepages>
    </modules>
    <global>
        <models>
            <attributepages>
                <class>TM_Attributepages_Model</class>
                <resourceModel>attributepages_resource</resourceModel>
            </attributepages>
            <attributepages_resource>
                <class>TM_Attributepages_Model_Resource</class>
                <entities>
                    <entity>
                        <table>tm_attributepages_entity</table>
                    </entity>
                    <entity_store>
                        <table>tm_attributepages_entity_store</table>
                    </entity_store>
                </entities>
            </attributepages_resource>
        </models>
        <helpers>
            <attributepages>
                <class>TM_Attributepages_Helper</class>
            </attributepages>
        </helpers>
        <blocks>
            <attributepages>
                <class>TM_Attributepages_Block</class>
            </attributepages>
        </blocks>
        <resources>
            <tm_attributepages_setup>
                <setup>
                    <module>TM_Attributepages</module>
                </setup>
            </tm_attributepages_setup>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <attributepages>
                        <class>TM_Attributepages_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </attributepages>
                </observers>
            </controller_front_init_routers>
            <catalog_entity_attribute_save_commit_after>
                <observers>
                    <attributepages>
                        <class>attributepages/observer</class>
                        <method>updatePageOptionsOnAttributeSave</method>
                    </attributepages>
                </observers>
            </catalog_entity_attribute_save_commit_after>
        </events>
    </global>

    <frontend>
        <routers>
            <attributepages>
                <use>standard</use>
                <args>
                    <module>TM_Attributepages</module>
                    <frontName>attributepages</frontName>
                </args>
            </attributepages>
        </routers>
        <translate>
            <modules>
                <TM_Attributepages>
                    <files>
                        <default>TM_Attributepages.csv</default>
                    </files>
                </TM_Attributepages>
            </modules>
        </translate>
        <layout>
            <updates>
                <attributepages>
                    <file>tm/attributepages.xml</file>
                </attributepages>
            </updates>
        </layout>
    </frontend>

    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <attributepages after="Mage_Adminhtml">TM_Attributepages_Adminhtml</attributepages>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <TM_Attributepages>
                    <files>
                        <default>TM_Attributepages.csv</default>
                    </files>
                </TM_Attributepages>
            </modules>
        </translate>
        <layout>
            <updates>
                <attributepages>
                    <file>tm/attributepages.xml</file>
                </attributepages>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <attributepages>
            <image>
                <background>255,255,255</background>
            </image>
            <seo>
                <allow_direct_option_link>0</allow_direct_option_link>
                <!-- <url_suffix>.html</url_suffix> -->
            </seo>
            <option_list>
                <hide_description_when_filter_is_used>1</hide_description_when_filter_is_used>
            </option_list>
            <product_list>
                <use_layered_navigation>1</use_layered_navigation>
                <layer_block_name>catalog.leftnav,enterprisecatalog.leftnav,tm.catalog.left.navigation</layer_block_name>
                <hide_description_when_filter_is_used>1</hide_description_when_filter_is_used>
            </product_list>
        </attributepages>
    </default>
</config>
