<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TM_ArgentoMall>
            <version>1.0.0</version>
        </TM_ArgentoMall>
    </modules>
    <global>
        <blocks>
            <page>
                <rewrite>
                    <html_footer>TM_ArgentoMall_Block_Page_Html_Footer</html_footer>
                </rewrite>
            </page>
        </blocks>
    </global>
    <default>
        <argento_mall>
            <background>
                <body_background-color>#fff</body_background-color>
                <body_background-image>none</body_background-image>
                <body_background-repeat>repeat</body_background-repeat>
                <body_background-position>0px,0px</body_background-position>

                <header-background_background-color>#00355f</header-background_background-color>
                <header-background_background-image>none</header-background_background-image>
                <header-background_background-repeat>repeat</header-background_background-repeat>
                <header-background_background-position>0px,0px</header-background_background-position>
            </background>
            <scroll_up>
                <scroll-up-normal_background-color>#eeeeee</scroll-up-normal_background-color>
                <scroll-up-hover_background-color>#dddddd</scroll-up-hover_background-color>
            </scroll_up>
            <top_navigation>
                <top-level-link-text_font-family>Arial,Helvetica,sans-serif</top-level-link-text_font-family>
                <top-level-link-text_font-size>13px</top-level-link-text_font-size>
                <top-level-link-text_text-transform>none</top-level-link-text_text-transform>
                <top-level-link_color>#fff</top-level-link_color>
                <top-level-link-hover_color>#ffac1f</top-level-link-hover_color>
                <top-level-link-active_color>#ffac1f</top-level-link-active_color>

                <low-level-link-text_font-family>Arial,Helvetica,sans-serif</low-level-link-text_font-family>
                <low-level-link-text_font-size>13px</low-level-link-text_font-size>
                <low-level-link-text_text-transform>none</low-level-link-text_text-transform>
                <low-level-link_background-color>transparent</low-level-link_background-color>
                <low-level-link-hover_background-color>#eeeeee</low-level-link-hover_background-color>
                <low-level-link-active_background-color>transparent</low-level-link-active_background-color>
                <low-level-link_color>#272e3d</low-level-link_color>
                <low-level-link-hover_color>#272e3d</low-level-link-hover_color>
                <low-level-link-active_color>#d96708</low-level-link-active_color>
            </top_navigation>
            <mobile_navigation>
                <mobile-top-level-link_font-family>Arial,Helvetica,sans-serif</mobile-top-level-link_font-family>
                <mobile-top-level-link_font-size>18px</mobile-top-level-link_font-size>
                <mobile-top-level-link_text-transform>none</mobile-top-level-link_text-transform>

                <mobile-low-level-link_font-family>Arial,Helvetica,sans-serif</mobile-low-level-link_font-family>
                <mobile-low-level-link_font-size>18px</mobile-low-level-link_font-size>
                <mobile-low-level-link_text-transform>none</mobile-low-level-link_text-transform>
            </mobile_navigation>
            <sidebar>
                <block-title-text_font-family>Verdana,Geneva,Arial,Helvetica,sans-serif</block-title-text_font-family>
                <block-title-text_font-size>16px</block-title-text_font-size>
                <block-title-text_font-weight>normal</block-title-text_font-weight>
                <block-title-text_color>#fff</block-title-text_color>

                <block-title_background-color>#00355f</block-title_background-color>
                <block-title_border-width>1px 1px 0</block-title_border-width>
                <block-title_border-color>#073C66</block-title_border-color>

                <block-content_background>#fff</block-content_background>
                <block-content_border-width>0 1px 1px</block-content_border-width>
                <block-content_border-color>#ddd</block-content_border-color>
            </sidebar>
            <tabs>
                <tab-text_padding>9px 12px 7px</tab-text_padding>
                <tab-text_font-family>Arial,Helvetica,sans-serif</tab-text_font-family>
                <tab-text_font-size>12px</tab-text_font-size>
                <tab-text_font-weight>bold</tab-text_font-weight>
                <tab-text_text-transform>none</tab-text_text-transform>
                <tab-text_color>#fff</tab-text_color>
                <tab_background-color>#00355f</tab_background-color>

                <tab-hover-text_color>#fff</tab-hover-text_color>
                <tab-hover_background-color>#034173</tab-hover_background-color>

                <tab-active-text_color>#fff</tab-active-text_color>
                <tab-active_background-color>#f5970c</tab-active_background-color>

                <tab-content_border-top-color>#f5970c</tab-content_border-top-color>
            </tabs>
            <font>
                <head_link></head_link>

                <page-title_font-family>Arial,Helvetica,sans-serif</page-title_font-family>
                <page-title_font-size>24px</page-title_font-size>
                <page-title_font-weight>normal</page-title_font-weight>
                <page-title_color>#000000</page-title_color>

                <product-name-link_font-family>Arial,Helvetica,sans-serif</product-name-link_font-family>
                <product-name-link_font-size>14px</product-name-link_font-size>
                <product-name-link_font-weight>bold</product-name-link_font-weight>
                <product-name-link_color>#023761</product-name-link_color>
                <product-name-link-hover_color>#023761</product-name-link-hover_color>

                <product-collateral-block-title_font-family>Arial,Helvetica,sans-serif</product-collateral-block-title_font-family>
                <product-collateral-block-title_font-size>18px</product-collateral-block-title_font-size>
                <product-collateral-block-title_font-weight>normal</product-collateral-block-title_font-weight>
                <product-collateral-block-title_color>#000000</product-collateral-block-title_color>
            </font>
            <css_selector>
                <header-background>.header, .top-toolbar:before</header-background>
            </css_selector>
        </argento_mall>
    </default>
</config>
